#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    macros {
        prev_desktop: prev_desktop {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(LG(LEFT))>;
            label = "PREV_DESKTOP";
        };

        next_desktop: next_desktop {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(LG(RIGHT))>;
            label = "NEXT_DESKTOP";
        };
    };

    combos {
        compatible = "zmk,combos";

        next_layer_1 {
            bindings = <&to 2>;
            key-positions = <1 0 2>;
            layers = <1>;
        };

        prev_layer_1 {
            bindings = <&to 6>;
            key-positions = <3 1 2>;
            layers = <1>;
        };

        next_layer_3 {
            bindings = <&to 4>;
            key-positions = <1 2 0>;
            layers = <3>;
        };

        prev_layer_3 {
            bindings = <&to 0>;
            key-positions = <1 2 3>;
            layers = <3>;
        };

        next_layer_5 {
            bindings = <&to 6>;
            key-positions = <1 0 2>;
            layers = <5>;
        };

        prev_layer_5 {
            bindings = <&to 2>;
            key-positions = <3 1 2>;
            layers = <5>;
        };

        next_layer_7 {
            bindings = <&to 0>;
            key-positions = <0 1 2>;
            layers = <7>;
        };

        perv_layer_7 {
            bindings = <&to 4>;
            key-positions = <1 2 3>;
            layers = <7>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        osu {
            bindings = <
&kp ESC    &kp ENTER  &mo 1
&kp LCTRL  &kp D      &kp F
            >;
        };

        layer1 {
            bindings = <
&to 2       &kp BACKSPACE  &trans
&sys_reset  &out OUT_USB   &out OUT_BLE
            >;
        };

        layer2 {
            bindings = <
&trans         &kp C_VOL_UP       &mo 3
&prev_desktop  &kp C_VOLUME_DOWN  &next_desktop
            >;
        };

        layer3 {
            bindings = <
&to 4   &trans  &trans
&trans  &trans  &kp N3
            >;
        };

        layer4 {
            bindings = <
&trans  &trans  &mo 5
&trans  &trans  &kp N4
            >;
        };

        layer5 {
            bindings = <
&to 6   &trans  &trans
&trans  &trans  &kp N5
            >;
        };

        layer6 {
            bindings = <
&trans  &trans  &mo 7
&trans  &trans  &kp N6
            >;
        };

        layer7 {
            bindings = <
&to 0   &trans  &trans
&trans  &trans  &kp N7
            >;
        };
    };
};
