&i2c0 {
	status = "disabled";
};

&spi0 {
	status = "okay";
	compatible = "nordic,nrf-spim";
	sck-pin = <13>;
	mosi-pin = <14>;
	miso-pin = <11>;

	cs-gpios = <&gpio0 21 GPIO_ACTIVE_LOW>;

	ssd16xxfb@0 {
		compatible = "gooddisplay,il0323";
		label = "DISPLAY";
		spi-max-frequency = <4000000>;
		reg = <0>;
		width = <80>;
		height = <128>;
		dc-gpios = <&gpio0 17 GPIO_ACTIVE_LOW>;
		reset-gpios = <&gpio0 16 GPIO_ACTIVE_LOW>;
		busy-gpios = <&gpio0 15 GPIO_ACTIVE_LOW>;
		cdi = <0xd2>;
		tcon = <0x22>;
		pwr = [03 00 26 26];
	};
};
